.error {
    border-color: red
}

.button_active {
    background: gold;
}

.isDone {
    opacity: 0.5;
}

.text_error {
    color: red;
}
.title {
    display: flex;
}
.button_title {
    margin-top: 23px;
    margin-left: 20px;
    height: 20px;
}